
.online-status{
  color: darken(white, 20%);
  font-size: 13px;
}

.online-status i.tiny{
  font-size: 0.7rem;
}

.online-status .online{
  color: #4caf50;
}

.online-status .offline{
  color: #e53935;
}
